.white {
  color: #fff;
}

.html5 {
  color: #e34f26;
}

.css3 {
  color: #3B5998;
}

.javascript {
  color: #f7df1e;
}

.sass {
  color: #c69;
}

.mongodb {
  color: #589636;
}

.nodejs {
  color: #215732;
}

.arrow {
  color: #00a8e0;
}