.cards-container {
  padding: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @include responsive-50em {
    padding-top: 5rem;
  }

  @include responsive-28em {
    padding: 4rem;   
  }
}

.card {
  width: 32rem;
  margin: 2rem;
  box-shadow: .5rem .5rem 3rem rgba(#000, .2);
  border: 6px solid #000;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__title {
    font-size: 2.5rem;
    color: #333;
    margin: 0.5rem 0;

    @include responsive-28em {
      font-size: 1.75rem;   
    }
  }

  &__subtitle {
    color: #777;
    font-size: 1.5rem;
    font-weight: 300;
  }

  &__technologies {
    margin: .5rem 0;
    text-transform: uppercase;

    li {
      margin: .5rem 0;
    }
  }

  &__btn:link,
  &__btn:visited {
    width: 100%;
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem 4rem;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .3s ease-in-out;
  }

  &__btn:hover,
  &__btn:active {
    color: $color-yellow;
  }

  &__btn-icon {
    color: $color-yellow;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.card:nth-child(1) {
  animation: fadeIn .5s .5s backwards;
}

.card:nth-child(2) {
  animation: fadeIn .5s 1s backwards;
}

.card:nth-child(3) {
  animation: fadeIn .5s 1.5s backwards;
}