.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 20vh;
  position: relative;
  z-index: 10;

  @include responsive-41em {
    align-items: flex-end;
    min-height: 10vh;
  }

  @include responsive-3125em {
    min-height: 15vh;
    align-items: center;
  }

  @include responsive-28em {
    min-height: 20vh;
  }
}

.social-links {

  &__list {
    display: flex;
    margin-right: 28rem;

    @include responsive-625em {
      margin-right: 17rem;
    }

    @include responsive-50em {
      margin-right: 10rem;
    }

    @include responsive-41em {
      margin-right: 5rem;
    }

    @include responsive-3125em {
      margin-right: 3.5rem;
    }
  }

  &__item {
    padding: 0 1rem;

    span {
      color: $color-yellow;
    }
  }

  &__link {

    &--hidden {
      display: none;
    }
  }

  &__link:link,
  &__link:visited {
    @include basic-link;
    display: block;
    padding: 1rem 2.5rem;
    box-shadow: 0 5px 5px rgba(#000, .5);
    transition: all .7s ease-in-out;
  }

  &__link:hover,
  &__link:active {
    @include basic-link-hover;
    transform: translateY(-2px) scale(1.05);

    .social-links__link--hidden {
      display: inline;
      color: #000;
    }
  }
}