.container {
  overflow-x: hidden;
}

.header-container {
  width: 100vw;
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../imgs/hero.jpg') no-repeat top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-clip-path: polygon(100% 100%, 100% 0%, 100% 0%, 0% 100%);
    clip-path: polygon(100% 100%, 100% 0%, 100% 0%, 0% 100%);
    background-color: #fff;
    width: 100%;
    height: 100%;

    @include responsive-41em {
      -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 40%, 0 40%);
      clip-path: polygon(0 100%, 100% 100%, 100% 40%, 0 40%);
    }

    @include responsive-3125em {
      -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 35%, 0 35%);
      clip-path: polygon(0 100%, 100% 100%, 100% 35%, 0 35%);
    }
  }
}

.footer {
  padding: 4rem 0 1rem 0;
  text-align: center;
  color: #fff;
  background-color: #000;
  font-size: 1.2rem;

  &__span {
    color: $color-yellow;
  }

  @include responsive-375em {
    padding: 3rem 0;
  }

  @include responsive-28em {
    padding: 2rem 0;
  }
}