.portfolio {

  &__heading {
    text-align: center;
    font-size: 7rem;
    font-family: $font-primary;
    text-transform: uppercase;
    position: relative;
    margin-top: 5rem;

    @include responsive-375em {
      font-size: 5rem;   
    }

    @include responsive-28em {
      margin-top: 3rem;
      font-size: 3rem;
    }

    &::before,
    &::after {
      content: '';
      height: 1rem;
      width: 30%;
      background-color: #000;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 1rem;

      @include responsive-75em {
        width: 20%;
      }

      @include responsive-50em {
        width: 15%;
      }

      
    }

    &::before {
      left: -1rem;
    }

    &::after {
      right: -1rem;
    }
  }
}

